<div class="expense-forms">
  <form class="form-horizontal">

		<div class="form-group" ng-repeat="(key, value) in expense">
			<label for="{{key}}" class="col-sm-2 control-label">{{key | capitalize}}:</label>

			<div class="col-sm-10">
	    	<input type="number" class="form-control" id="{{key}}" ng-model="expense[key]" />
			</div>
		</div>

		<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="init()">Budget</button>
        
        <button class="btn btn-primary" ng-click="clear();">Clear</button>

        <button class="btn btn-primary" ng-click="log()">Log</button>
      </div>
    </div>

	</form>
</div>

<div class="display">
	<h3>{{month}}</h3>
	<canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>
</div>